<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS Activation Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }
      h1 {
        color: #333333;
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        color: #666666;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Email Activation Code</h1>
    <h1>Welcome to Loona Traders</h1>
    <p>
      Hello <%= user.name %>, <br />
      Here is your activation code
    </p>
    <h1><%= activationCode %></h1>
    <p>Thank you for signing up for our service.</p>
    <p>The Activation Code Will Expire After 5 minutes</p>
  </body>
</html>
