<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }
      h1 {
        color: #333333;
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        color: #666666;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Order Confirmation</h1>
    <h1>Welcome to LMS</h1>
    <p>
      Hello <%= order.name %>, <br />
      this email is for your order Confirmation
    </p>
    <p>
      For Your Order Number : <%= order._id %> for the total Price : <%= order.price %>, at <%= order.date %> 
    </p>
  </body>
</html>
